{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ projet.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ projet.nom }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ projet.budget }}</td>
            </tr>
            <tr>
                <th>MontantPaye</th>
                <td>{{ projet.montantPaye }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ projet.dateCreation ? projet.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ projet.type }}</td>
            </tr>
            <tr>
                <th>Proprietaire</th>
                <td>{{ projet.proprietaire }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ projet.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('projet_index') }}">back to list</a>

    <a href="{{ path('projet_edit', {'id': projet.id}) }}">edit</a>

    {{ include('projet/_delete_form.html.twig') }}
{% endblock %}
