{% extends 'base.html.twig' %}

{% block title %}Fichier index{% endblock %}

{% block body %}
    <h1>Fichier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Path</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fichier in fichiers %}
            <tr>
                <td>{{ fichier.id }}</td>
                <td>{{ fichier.path }}</td>
                <td>{{ fichier.description }}</td>
                <td>
                    <a href="{{ path('fichier_show', {'id': fichier.id}) }}">show</a>
                    <a href="{{ path('fichier_edit', {'id': fichier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fichier_new') }}">Create new</a>
{% endblock %}
