{% extends 'base.html.twig' %}

{% block title %}Fichier{% endblock %}

{% block body %}
    <h1>Fichier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fichier.id }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ fichier.path }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fichier.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('fichier_index') }}">back to list</a>

    <a href="{{ path('fichier_edit', {'id': fichier.id}) }}">edit</a>

    {{ include('fichier/_delete_form.html.twig') }}
{% endblock %}
