{% extends 'base.html.twig' %}

{% block title %}Depense{% endblock %}

{% block body %}
    <h1>Depense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depense.id }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ depense.budget }}</td>
            </tr>
            <tr>
                <th>Deplacement</th>
                <td>{{ depense.deplacement }}</td>
            </tr>
            <tr>
                <th>PrixLog</th>
                <td>{{ depense.prixLog }}</td>
            </tr>
            <tr>
                <th>PrixMat</th>
                <td>{{ depense.prixMat }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ depense.type }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ depense.date ? depense.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ depense.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('depense_index') }}">back to list</a>

    <a href="{{ path('depense_edit', {'id': depense.id}) }}">edit</a>

    {{ include('depense/_delete_form.html.twig') }}
{% endblock %}
